iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.split-pane {
  overflow: hidden;
  display: block;
}

.pane-left {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.pane-center {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.pane-bottom {
  background-color: var(--sapObjectHeader_Background, #fff);
}

.split {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.gutter {
  background-repeat: no-repeat;
  background-position: 50%;
  transition: 0.1s background-color;
  position: relative;
  overflow: visible;
  z-index: 1;
}

.gutter-horizontal {
  background-color: transparent;
  /*#252525;*/
}

.gutter-vertical {
  background-color: transparent;
  /*#1e1e1e;*/
}

.gutter:hover {
  background-color: var(--sapScrollBar_FaceColor, #ccc);
  transition-delay: 0.2s;
}

.gutter.gutter-horizontal {
  cursor: w-resize;
}

.gutter.gutter-vertical {
  cursor: n-resize;
}

.gutter.gutter-horizontal::after {
  content: '';
  height: 100%;
  width: calc(100% + 6px);
  position: absolute;
  left: -3px;
}

.gutter.gutter-vertical::after {
  content: '';
  height: calc(100% + 6px);
  position: absolute;
  top: -3px;
  width: 100%;
}

.fd-tabs__item:first-child .fd-tabs__link {
  padding-left: 0.75rem;
}

.fd-tabs .fd-tabs__link:focus .fd-tabs__tag,
.fd-tabs .fd-tabs__item .fd-button:focus {
  outline: 0;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs-list-container {
  display: flex;
}

.tabs-list-container .tabs-list-buttons {
  white-space: nowrap;
  flex-shrink: 0;
}

.tabs-container .tabs-content {
  flex-grow: 1;
}

.fd-tabs-closable .fd-tabs__item .fd-button {
  padding: 0;
  min-width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  visibility: hidden;
}

.fd-tabs-closable .fd-tabs__item .fd-button>[class*="sap-icon"] {
  font-size: 0.75rem;
}

.fd-tabs-closable .fd-tabs__item:not([aria-selected="true"]) .fd-button:hover {
  border-color: var(--sapTextColor, #32363a);
}

.fd-tabs-closable .fd-tabs__item[aria-selected="true"] .fd-button,
.fd-tabs-closable .fd-tabs__item.dirty .fd-button,
.fd-tabs-closable .fd-tabs__item:hover .fd-button {
  visibility: visible;
}

.fd-tabs-closable .fd-tabs__item:not([aria-selected="true"]) .fd-button {
  color: var(--sapTextColor, #32363a);
}

.fd-tabs-closable .fd-tabs__item.dirty .fd-button:not(:hover)>[class*="sap-icon"] {
  font-size: 0.45rem;
}

.fd-tabs-closable .fd-tabs__item.dirty .fd-button:not(:hover) .sap-icon--decline:before {
  content: "\e255";
}

.fd-tabs-closable .fd-tabs__item .fd-tabs__tag {
  white-space: nowrap;
}

.tabs-list-container .fd-tabs {
  flex-wrap: nowrap;
  flex-grow: 1;
  display: inline-flex;
  box-shadow: none;
  overflow-x: auto;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.fd-tabs::-webkit-scrollbar {
  display: none;
}

.fd-tabs__panel {
  height: 100%;
  overflow: hidden;
}

.fd-tabs__panel {
  height: 100%;
  overflow: hidden;
}

.pane-bottom .fd-tabs {
  background-color: transparent;
  /*#1e1e1e;*/
  box-shadow: none;
}

.accordion .fd-panel__header,
.accordion .fd-panel__expand,
.accordion .fd-panel__button {
  height: 2rem;
  min-height: 2rem;
}

.accordion .fd-panel__button>i {
  font-size: 0.875rem;
  font-weight: 600;
}

.accordion .fd-panel__expand {
  width: 1.5rem;
  min-width: 1.5rem;
}

.accordion .fd-panel__header {
  cursor: pointer;
}

.accordion .fd-panel__title {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
}

.accordion .fd-panel__content {
  transition: height 0.2s;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.fd-toolbar {
  font-size: 0.7rem;
  font-weight: normal;
  min-height: 2rem;
}

.accordion {
  flex-grow: 1;
  height: 100px;
}

.backdrop {
  position: fixed;
  cursor: initial;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.backdrop[aria-hidden="true"] {
  display: none;
}

.fd-toolbar__overflow-button>i {
  margin-right: 0.2rem;
}

.split-pane-buttons {
  padding: 0.3rem;
  display: block;
}

.split-pane-buttons .fd-button--compact {
  height: 1.5rem;
  padding: 0;
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.split-pane-buttons .fd-button--compact>i {
  font-size: 0.75rem;
}
